<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Привіт, нагадуємо, що вже зовсім скоро, а саме <%= @next_race %> відбудеться наступна гонка ІТ Racing
  </p>
  <br/>
  <p>Ми змінюємо прокатний трек на професійний гоночний з 18ма різними конфігураціями і можливістю виїзду до 25 машин одночасно.
     Різноманіття різних по складності і швидкості поворотів додадуть вприску адреналіну і нових відчуттів.
     Формат гонки відтепер змінений. Суттєвих змін немає, додана 15 хвилинна практика перед кваліфікацією задля вивчення
     особливостей треку так, як він складніший і цікавіший у порівнянні з прокатними трасами.
     Також відтепер всі результати гонок будуть викладатися у світовий рейтинг пілотів SWS.
     Тому всім учасникам треба мати акаунт SWS і зарєструватися на гонку на сайті SWS.
  </p>
  <br/>
  <p>
    Формат гонки:
    16:00 - Збір, Практика
    17:00 - Брифінг, Кваліфікация, Гонка
    Практика - 15 хвилин
    Кваліфікація - 10 хвилин
    Гонка - 12 кругів
    Фінал - 15 кругів
  </p>
</body>
<footer><a href="https://it-racing.herokuapp.com">IT Racing</a></footer>
</html>