<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Привіт, нагадуємо, що вже сьогодні о <%= @next_race %> відбудеться наступна гонка ІТ Racing на треку <%= @track %>
</p>
<br/>
<p>
  Попередня реєстрація на гонку на сайті IT Racing.
</p>
</body>
<footer><a href="https://it-racing.herokuapp.com">IT Racing</a></footer>
</html>