@media (min-width: 576px) {
  .modal-dialog {
    max-width: none;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  body {
    font-size: 25px;
  }
  .btn {
    font-size: inherit;
  }
  .inside {
    margin-top: 150px;
  }
}